:root{
    --main-color:#fdc800;
}
.sec-col{
    color: #002147;
}
.sec-bg-col{
    background-color: #002147;
}
.contact-area{
    background: #f6f6f6;
}
.contact-area .contact-info-text h2{
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
}

.contact-area .contact-info-text p{
    font-size: 16px;
    padding-right: 94px;
    color: #8a8a8a;
    line-height: 30px;
}
.contact-area .contact-info ul{
    margin: 0;
    padding: 0;
}
.contact-area .contact-info ul li .contact-icon i{
    border: 0;
    color: #002147;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    background-color: #fdc800;
}

.contact-area .contact-info ul li .contact-text h3{
    font-weight: 600;
    margin-bottom: 8px;
    line-height: 1;
    font-size: 18px;
    color: #555555;
}

.contact-area .contact-info ul li .contact-text span{
    font-size: 14px;
    color: #8a8a8a;
}
.contact-form form input {
    width: 100%;
    padding: 0;
    padding-left: 20px;
    background: 0;
    border: 1px solid #e9e9e9;
    height: 50px;
    font-size: 14px;
    color: #666666;
    margin-bottom: 30px;
}
.contact-form form textarea{
    width: 100%;
    padding: 0;
    padding-left: 20px;
    background: 0;
    border: 1px solid #e9e9e9;
    height: 113px;
    font-size: 14px;
    color: #666666;
    margin-bottom: 30px;
    padding-top: 13px;
    resize: none;
}
.contact-form form button{
    background-color: #fdc800;
    color: #002147;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    padding: 19px 105px;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.contact-form form button:hover{
    background-color: #002147;
    color: white;
}
.map-area{
    position: relative;
    width: 100% !important;
    height: 700px !important;
    
}
